:root {
  font-family: "Roboto", serif;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ababab79;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  background-color: gainsboro;
}
.navbar h2{
  color: white;
  padding-left: 50px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 0;
  text-align: start;
}
